
html,
body,
#root {
  width: 100%;
  height: 100%;
}

.btn {
  height: 40px;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 0 20px;
  &-green {
    background-color: rgb(33, 207, 97);
    &:disabled {
      background-color: rgb(174, 245, 215);
    }
  }
  &-yellow {
    background-color: rgb(248, 208, 33);
    &:disabled {
      background-color: rgb(244, 245, 174);
    }
  }
  &-red {
    background-color: rgb(207, 50, 33);
    &:disabled {
      background-color: rgb(245, 174, 174);
    }
  }
  &-blue {
    background-color: rgb(5, 179, 237);
    &:disabled {
      background-color: rgb(174, 227, 245);
    }
  }
  &-white {
    color: #333;
    background-color: white;
    border: 1px solid #333;
    &:disabled {
      background-color: rgb(243, 243, 243);
      color: rgb(173, 173, 173);
      border-color: rgb(173, 173, 173);
    }
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.input {
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  &:hover, &:active {
    border-width: 2px;
    border-color:  rgb(0, 187, 255);
  }
}